name: 'Renovate Review'

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      renovate: ${{ steps.filter.outputs.renovate }}
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      # For pull requests it's not necessary to checkout the code
      - name: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            renovate:
              - '.renovate.json5'

  renovate-review:
    needs: changes
    if: ${{ needs.changes.outputs.renovate == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: renovate-config-validator
        uses: rinchsan/renovate-config-validator@a12a2b98cd4db923c33d1ce407c57afb43f3ff59 # v0.2.0
        with:
          pattern: .renovate.json5
